@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  text-transform: capitalize;
  background-image: url("../img/forst.jfif");
  color: white;
  margin: 0px;
  padding: 0px;
  align-items: center;
}

.nav-bar {
  height: 70px;
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: flex-end;
  font-family: "Love Light", cursive;
}

.nav-list {
  display: flex;
  flex-direction: row;
  padding-right: 70px;
}

li {
  list-style-type: none;
  margin: 10px;
  margin-top: 2px;
}

.nav-list li:hover {
  background-color: rgb(56, 55, 55);
  height: max-content;
  width: max-content;
}

.nav-list-show li:hover {
  background-color: rgb(56, 55, 55);
}

a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-size: 30px;
  font-weight: bolder;
}

.profile-container {
  background-color: black;
  opacity: 0.46;
}

.humburguer:active {
  box-shadow: -20px 39px 85px 41px rgba(255, 255, 255, 0.6) inset;
  -webkit-box-shadow: -20px 39px 85px 41px rgba(255, 255, 255, 0.6) inset;
  -moz-box-shadow: -20px 39px 85px 41px rgba(255, 255, 255, 0.6) inset;
}
@media only screen and (min-width: 501px) {
  .humburguer,
  .see {
    display: none;
  }
}

@media only screen and (max-width: 501px) {
  .nav-list {
    display: none;
  }
}

.show {
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: 1s;
  pointer-events: none;
  font-family: "Love Light", cursive;
}

.see {
  opacity: 0.9;
  pointer-events: all;
}

.date {
  font-size: medium;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.068);
  font-weight: bolder;
  opacity: 0.9;
}

.title {
  text-transform: capitalize;
  margin-top: 10px;
  margin-left: 30%;
  margin-bottom: 10px;
  align-items: center;
  font-size: 50px;
  font-family: "Love Light", cursive;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

.submit {
  height: 40px;
  width: 250px;
  border: solid 1px black;
  border-radius: 25px;
  margin-left: 35px;
  margin-top: 15px;
  color: white;
  font-size: 20px;
  background-color: black;
  font-family: "Love Light", cursive;
}

.submit:active {
  box-shadow: 3px 2.5px 0px 2px rgba(0, 0, 0, 0.445);
}

.name {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.name-text {
  display: flex;
  flex-direction: column;
}

.text-area {
  height: 100px;
  width: 400px;
}
